body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f6fa;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  background: #0b1f3a;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 60px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a.active {
  color: #800000;
}

/* BANNER */
.school-banner {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(128,0,0,0.7), rgba(11,31,58,0.8)),
  url("school.jpg");
  background-size: cover;
  color: white;
}

.banner-content h1 {
  font-size: 40px;
}

.motto {
  font-size: 20px;
}

/* CARDS */
.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  border-left: 5px solid #800000;
}

/* FORM */
.admission-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admission-form input,
.admission-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admission-form button {
  background: #800000;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.admission-form button:hover {
  background: #0b1f3a;
}

/* FOOTER */
.footer {
  text-align: center;
  background: #0b1f3a;
  color: white;
  padding: 10px;
  margin-top: 30px;
}